/*Ukuran Tablet*/
@media screen and (max-width: 890px){
	.wrap-Nav{
		width: 90%;
		justify-content: space-around;
	}
	section{
		margin-top: -0.7em;
	}
	.logo{
		font-size: 2.2vmax;
	}
	.logo span{
		font-size: 3vmax;
	}
	.navigation ul li a{
		font-size: 1vmax;
	}
	.navigation ul .nav a::after{
		bottom: 25%;
	}
	.live::after{
		bottom: 25%;
	}
	figcaption {
		font-size: 3vmax;
		width: 26%;
	}
}	
@media screen and (max-width: 430px){
	section{
		margin-top: -7%;
		height: 100%;
	}
	.logo{
		font-size: 3vmax;
	}
	.logo span{
		font-size: 4vmax;
	}
	.wrap-Nav{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.navigation{
		opacity: 0;
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		height: 0%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s ease-out;
	}
	.navigation ul{
		background-color: white;
		width: 80%;
		height: 88.5%;
		display: flex;
		flex-direction: column;
		border-radius: 1em;
	}
	.navigation ul li{
		margin-left: 0;
	}
	.navigation ul li a{
		font-size: 2.5vmax;
		width: 100%;
	}
	.live::after{
		display: none;
	}
	.navigation ul .nav a::after{
		display: none;
	}
	.menu {
		display: flex;
		z-index: 9999;
		position: fixed;
	}
	.geser {
		opacity: 1;
		height: 100%;
	}
	figcaption {
		font-size: 2.5vmax;
		width: 28%;
	}
}